html{
    scroll-behavior: smooth;
}
body{
    background-image: url("../images/im.jpg");
    background-size: cover;
     background-position: center;
  background-repeat: no-repeat;
    padding: 40px;
}
body h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.continer{
     background-image: url("../images/im1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 10px 10px 70px 10px;
    height: 100%;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    max-width: 100%;
    min-width: auto;
}
.head{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.head h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.head span{
    color: #50b41e;
}
.menubare{
    margin-left: 0px;
    display: flex;
    gap: 20px;
    
}
.menubare a{
    
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menubare a:hover{
    color: #58BD27;
}#menu{
    color: #58BD27;
    font-weight: bold;
}
.menubare a.active{
    color: #58BD27;
    font-weight: bold;
}
.cart_login{
    background-color:white;
    border-radius: 50px;
    display: flex;
    padding: 10px;
     box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
     flex-wrap: wrap;
     
}
.cart_login img{
    margin-right: 5px;
    width: 30px;
    height: 30px;
}
.cart_login button{
    background-color: #58BD27;
    border: none;
    border-radius: 20px;
    padding: 5px;
    color: white;
    width: 70px;
    cursor: pointer;
}
.cart_login button:hover{
    background-color: #49a51c;
}
.menucards h1{
    text-align: center;
}
.menucatagory{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.menucatagory button{
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menucatagory button:hover{
    transform: translateY(-10px);
    background-color: #58BD27;
    color: white;
}
.menucatagory button.active{
    background-color: #58BD27;
    font-weight: bold;
    color: white;
}
.cards{
    display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
   gap: 25px;
}
.card{
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}
.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.card img{
    width: 120px;
    height: 120px;
    object-fit: contain;
    margin-bottom: 15px;
}
.card h2{
     font-size: 22px;
    margin-bottom: 10px;
    color: #333;
}
.card p {
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}
.price {
    display: inline-block;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #50b41e;
}
.languge{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}
.languge button{
  width: 100px;
  height:40px ;
  background-color: #58BD27;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.languge .languges{
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 45px;
    width: 120px;
    background: white;
    border-radius: 8px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    z-index: 100;
    overflow: hidden;
}
.languge .languges h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.languge .languges h3:hover{
    background-color: rgb(238, 236, 236);
}
#search{
    padding: 5px;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
    width: 300px;
    margin-right: 5px;
}
.detailcard{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    background: white;
    border-radius: 15px;
   z-index: 100;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
}
.displaycard{
    display: flex;
    padding: 20px;
    align-items: center;
   gap: 100px;
}
.txtdisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.txtdisplay span{
    font-size: 20px;
    font-weight: bold;
    color: #2e7e06;
}
#detail {
    list-style: none; /* remove default bullets */
    padding: 0;
    margin: 0;
}
.button{
    display: flex;
    justify-content: flex-end;
}
.button button{
    background-color: rgb(190, 205, 50);
    color: white;
    width: 80px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.button button:hover{
     background-color: rgb(136, 150, 18);
}
.txtdisplay h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.txtdisplay h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.nutrition h5 {
    margin: 10px 0;      /* gap between texts */
    line-height: 1.5;    /* height of text line */
    font-size: 18px;
}
@media (max-width: 600px) {
    body{
        padding: 50px;
    }
    .head{
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
    .menubare{
       
        margin-top: 0px;
        
        
    }
    .cart_login{
        flex-direction: column;
        align-items: center;
        box-shadow: none;
        gap: 10px;
    }
   #search{
    height: 40px;
   }
   .displaycard{
    flex-direction: column;
   }
   .detailcard{
    width: 400px;
    transform: translate(-50%, -50%);
   }.txtdisplay{
    margin-top: -100px;
   }
}